<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>欢迎!</title>
    <link rel="stylesheet" href="/index_style.css">
</head>

<body>
    <h1>欢迎！</h1>
    {% if not logined %}

    <p class="login_or_register">
        <a href="/register"><button type="button" class="login_or_register_button">register</button></a>
        <a href="/login"><button type="button" class="login_or_register_button">login</button></a>
    </p>

    {% endif %}
    <ul>
        {% for post in posts %}
        <li>
            <a href="/post/{{ post.post.id }}">
                <h3>{{ post.post.title }}</h3>
            </a>
            <p>{{ post.author_name }}</p>
        </li>
        {% endfor %}
    </ul>
    {% if logined %}
    <a  ><button>New Post</button></a>
    {% endif %}
</body>

</html>